<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error {{ error_code }}</title>
    <link rel="stylesheet" href="../static/css/5xx.css">
</head>
<body>
    <main>
        <div class="error-message">
            <h1>{{ error_code }}</h1>
            <p>Ha ocurrido un error inesperado.<br>Por favor, contacte con Alex Mayo para revisar el problema.</p>
            <p class="email-text">Email: alex.mayo@evolutio.com</p>
            <a href='/' class="home-link">Volver a la página de inicio</a>
        </div>
    </main>
</body>
</html>
