<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link rel="stylesheet" type="text/css" href="../static/css/docker_machines.css">
	<script src="../static/js/docker_machines.js"></script>
    <title>Máquinas Activas</title>
</head>
<body>
    <header>
        <nav>
            <img src="../static/img/logo.png" class="icon" alt="Icon">
            <div class="header_links_box">
                <a href="/" class="header_link home">Home</a>
                <a href="/configure-docker" class="header_link docker_configuration">Configurar Docker</a>
                <a href="/docker-machines" class="header_link docker_machines">Máquinas Docker</a>
            </div>
        </nav>
    </header>
    <main>
        <select id="filterType">
            <option value="0">Nombre</option>
            <option value="1">Fecha de Creación</option>
            <option value="2">Puerto</option>
            <option value="3">Enlace</option>
        </select>
        <input type="text" id="searchBox" placeholder="Buscar..." oninput="searchTable()">
        <table id="dockerTable">
            <tr>
                <th>Nombre</th>
                <th>Fecha de Creación</th>
                <th>Puerto</th>
                <th>Enlace</th>
                <th>Acción</th>
                <th>Tiempo Restante</th>
            </tr>
            {% for machine in docker_list %}
            <tr>
                <td>{{ machine.name }}</td>
                <td>{{ machine.creation_date }}</td>
                <td>{{ machine.port }}</td>
                <td><a href="{{ machine.url }}" target="_blank">Acceder</a></td>
                <td>
                    <form action="{{ url_for('delete_docker_route', container_id=machine.id) }}" method="post">
                        <button type="submit">Eliminar</button>
                    </form>
                </td>
                <td id="timer-{{ machine.id }}" data-expiration-time="{{ machine.expiration_time_in_seconds }}">
                    <!-- Aquí se mostrará el tiempo restante -->
                </td>
            </tr>
            {% endfor %}
        </table>
    </main>
</body>
</html>
