/* Estilos generales */
body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background: #000;
    color: white;
}

/* Navegación */
nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
}

/* Estilo del encabezado y del pie de página */
header, footer {
    text-align: center;
    padding: 10px 0;
}

/* Mensaje de error */
.error-message {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.error-message h1 {
    font-size: 10rem;
    margin: 0;
}

.error-message p {
    font-size: 1.40rem;
    border-top: 1px solid #555;
    border-bottom: 1px solid #555;
    padding: 20px 0;
    margin: 40px 0;
}

.home-link {
    text-decoration: none;
    color: #aaa;
    border: 1px solid #aaa;
    padding: 10px 20px;
    transition: color 0.3s ease, border-color 0.3s ease;
}

.home-link:hover {
    color: white;
    border-color: white;
}

/* Pie de página */
.email-text {
    font-size: 1rem !important; /* Ajusta este valor al tamaño que prefieras */
    color: #797777;
}

/* Estilo para dispositivos móviles */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
    }
    
    .error-message h1 {
        font-size: 5rem;
    }
    
    .error-message p {
        font-size: 1rem;
    }
}
