body {
    background-color: #f5f5f5;
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    margin: 2%;
}

/* HEADER STYLES */

nav {
    width: 100%;
    display: flex;
    justify-content: space-between; /* Esto separa el logo y el contenedor de enlaces */
    padding: 10px 20px; /* Añade un poco de padding a los lados para que el logo y los enlaces no estén pegados a los bordes */
    align-items: center; /* Alinea verticalmente los elementos */
}

a {
	text-decoration: none;
	color: black;
}

header {
    background-color: #fff;
    border-radius: 10px;
    font-weight: bold;
    padding: 0;
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #dee2e6;
}

.header_links_box {
    display: flex;
    justify-content: center; /* Esto centrará los enlaces en su contenedor */
    flex-grow: 1; /* Permite que el contenedor de los enlaces crezca y empuje los enlaces hacia el centro */
    margin-left: 20px; /* Agrega un margen a la izquierda para empujar el texto un poco hacia la derecha */
    margin-right: 20px; /* Agrega un margen a la derecha para mantener el texto centrado y proporcionar espaciado */
}

.header_link {
    align-items: center;
    display: flex;
    text-decoration: none;
    color: inherit;
    padding: 0 10px;
}

.header_link:hover {
    color: rgb(30, 159, 176);
    transition: color 0.2s ease-in-out;
}

.icon {
    /* No se necesita 'margin-right: auto;' aquí ya que 'justify-content: space-between' ya está separando los elementos */
    display: block; /* Asegura que el logo se trate como un bloque para respetar los paddings y márgenes */
}

/* Media Queries para diferentes tamaños de pantalla */

@media (max-width: 768px) {
    body {
        padding: 0 10px;
    }

    nav {
        flex-direction: column;
        align-items: center;
    }

    .header_link_box {
        flex-direction: column;
    }

    .header_link {
        margin: 5px 0;
    }
}

@media (max-width: 480px) {
    .icon {
        width: 20px;
        height: 20px;
    }
}
